.navigation-wrapper {
  position: relative;
}

/* .dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}
 */
.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

/* .progress-bar {
  position: relative;
  width: 100%;
  height: 1px;
  margin-top: 16px;
}

.segments {
  display: flex;
  height: 100%;
  /* gap: 4px; */
/* }

.segment {
  flex: 1;
  background: #ccc;
  cursor: pointer;
} */

/* The moving "slider" */
/*.indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #000;
  transition: transform 0.3s ease;
} */

.progress-bar {
  position: relative;
  width: 100%;
  height: 1px;
}

.segments {
  display: flex;
  height: 100%;
}

.segment {
  flex: 1;
  background: #ccc;
}

.indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: black;
  transition: transform 0.3s ease;
}
