/* @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"); */
@import "tailwindcss";

:root {
  font-family: "DM Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  --accent: #a18a68;
  --dark-gray: #707070;
  --gray: #d8d8d8;
  --light-gray: #efefef;
  --error: #d82700;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

.slide {
  border: "#f0f0f0";
  border-radius: 4px;
}
